html, button, input, select, textarea { color: #222; }
html, body { width:100%; height:100%; background: url(../img/bg-arrow.jpg);}
body { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea {  resize: vertical; }

/*====  Header styles =========================================== */
.container { }
.header {
    height:auto;
    width: 100%;
    top:0;
    background-color: rgba(30, 30, 30, 0.97);
    border-bottom: 1px solid rgb(165, 128, 68);
	position: fixed;
    z-index: 10;
}
#choosenHash {
	text-align:center;
	font-size: 40px;
	margin:5px;
	display:block;	
	font-family: 'Alef', sans-serif;
	cursor:default;
    color: rgb(208, 208, 208);
}
#l-logo { 
	float:left;
	display:block;
	margin:10px 10px 10px 20px;
	width: 300px;
	height:55px;
	background-repeat:no-repeat;
}
#r-logo {
	float:right;
	display:block;
	margin:10px 20px 10px 10px;
	width: 300px;
	height:55px;
	background-repeat:no-repeat;
}

/* Instagram =============== */
#instafeed {
    margin: -4px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    float:left;
    top:70px;
}
#instafeed li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
#instafeed .instaPost {
    border-bottom: 1px solid rgb(90, 90, 90);
    border-right: 1px solid rgb(90, 90, 90);
}
#instaUser-container {
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: -12px;
    left: 0px;
}
.instaUser { 
    display: block;
    padding: 0.8em 1em;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.2em;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#instafeed li a,
#instafeed li a img {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#instafeed li a img {
    max-width: 100%;
}
#instafeed li a div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
@media screen and (max-width: 1190px) {
    #instafeed li {
        width: 20%; /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}
@media screen and (max-width: 945px) {
    #instafeed li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
@media screen and (max-width: 660px) {
    #instafeed li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 660px) {
    #instafeed li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
    .instaUser {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    #instafeed li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
    .instaUser {
        font-size: 12px;
    }
}
@media screen and (max-width: 300px) {
    #instafeed li {
        width: 100%;
    }
    .instaUser {
        font-size: 14px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#instafeed li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#instafeed li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 

/* Twitter =============== */
.twitterContainer {
    width: 38.4%;
    height: 100%;
    float: right;
    padding: 10px;
    border-left: 2px solid #d4d4d4;
	display: none;
}
.twitterPost {
    width: 90%;
    padding: 10px 0;
    border-top: 1px solid #999;
    float: left;
}
.twitterPost:last-child {
    border-bottom: 1px solid #999;
}
.twitterPicture {
    float: left;
}
.twitterPicture img {
    width: 50px;
    height:50px;
}
.twitterCont {
    float:left;
    width: 95%;
    margin-left: 5px;
}
.twitterName {
    float:left;
    margin: 0;
}
.twitterUsername {
    float:left;
    margin: 0 0 0 5px;
    color: rgb(153, 153, 153);
}
.tweet {
    float: left;
}
#twitter-widget-0 {
	width:100% !important;
	height:1000px !important;
}
.timeline .stream {
	height:900px !important;
	overflow: visible !important;
}

.timeline-footer {
	display:hidden !important;
}
 
/*====  Helper classes =========================================== */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 150%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*====  Print styles =========================================== */
@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}