/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/*====  Base styles: opinionated defaults =========================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
html, body { width:100%; height:100%; overflow-x:hidden; }
body { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea {  resize: vertical; }

/*====  Chrome Frame prompt =========================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*====  Author's custom styles =========================================== */
.container {
	
}
.header {
    height:80px;
    width: 100%;
    top:0;
    background:#F5F6F7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
    border: 1px solid rgb(212, 212, 212);
	display:table;
}
#choosenHash {
	text-align:center;
	font-size: 50px;
	margin:5px;
	display:block;	
	font-family: 'Finger Paint', cursive;
	cursor:default;
}
#l-logo { 
	float:left;
	display:block;
	margin:10px 10px 10px 20px;
	width: 300px;
	height:55px;
	background-repeat:no-repeat;
}
#r-logo {
	float:right;
	display:block;
	margin:10px 20px 10px 10px;
	width: 300px;
	height:55px;
	background-repeat:no-repeat;
}

/* Instagram =============== */
#instafeed {
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    float:left;
}
 
#instafeed li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
#instafeed .instaPost {
    border: 1px solid #ccc;
    margin: 1px;
    padding: 1px;
}
.instaUser { overflow: hidden; }
#instafeed li a,
#instafeed li a img {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
 
#instafeed li a img {
    max-width: 100%;
}
 
/* Flexbox is used for centering the heading */
#instafeed li a div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
 
/* Example for media query: change number of items per row */
@media screen and (max-width: 1190px) {
    #instafeed li {
        width: 20%; /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}
 
@media screen and (max-width: 945px) {
    #instafeed li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
 
@media screen and (max-width: 660px) {
    #instafeed li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 660px) {
    #instafeed li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
    .instaUser {
        font-size: 12px;
    }
}
 
@media screen and (max-width: 400px) {
    #instafeed li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
    .instaUser {
        font-size: 12px;
    }
}
 
@media screen and (max-width: 300px) {
    #instafeed li {
        width: 100%;
    }
    .instaUser {
        font-size: 14px;
    }
}


/* Twitter =============== */
.twitterContainer {
    width: 38.4%;
    height: 100%;
    float: right;
    padding: 10px;
    border-left: 2px solid #d4d4d4;
	display: none;
}
.twitterPost {
    width: 90%;
    padding: 10px 0;
    border-top: 1px solid #999;
    float: left;
}
.twitterPost:last-child {
    border-bottom: 1px solid #999;
}
.twitterPicture {
    float: left;
}
.twitterPicture img {
    width: 50px;
    height:50px;
}
.twitterCont {
    float:left;
    width: 95%;
    margin-left: 5px;
}
.twitterName {
    float:left;
    margin: 0;
}
.twitterUsername {
    float:left;
    margin: 0 0 0 5px;
    color: rgb(153, 153, 153);
}
.tweet {
    float: left;
}
#twitter-widget-0 {
	width:100% !important;
	height:1000px !important;
}
.timeline .stream {
	height:900px !important;
	overflow: visible !important;
}

.timeline-footer {
	display:hidden !important;
}
 
/*====  Helper classes =========================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*====  Print styles =========================================== */
@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}