/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/*====  Base styles: opinionated defaults =========================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
html, body { width:100%; height:100%; overflow-x:hidden; }
body { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea {  resize: vertical; }

/*====  Chrome Frame prompt =========================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*====  Author's custom styles =========================================== */
.container {
	
}
.header {
    height:80px;
    width: 100%;
    top:0;
    background:#F5F6F7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
    border: 1px solid rgb(212, 212, 212);
	display:table;
}
#choosenHash {
	text-align:center;
	font-size: 50px;
	margin:5px;
	display:block;	
	font-family: 'Finger Paint', cursive;
}
#l-logo { 
	float:left;
	display:block;
	margin:10px 10px 10px 20px;
	width: 300px;
	height:55px;
	background-repeat:no-repeat;
}
#r-logo {
	float:right;
	display:block;
	margin:10px 20px 10px 10px;
	width: 300px;
	height:55px;
	background-repeat:no-repeat;
}

/* Instagram =============== */
.instaContainer {
    width: 100%;
    padding: 5px 0;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.instaPost {
    width:220px;
    float: left;
    border: 1px solid #999;
    padding:1px;
    margin:1px;
	display: inline-block;
}
.instaPicture {

}
.instaPicture img {
    width: 100%;
}
.instaUser {
    text-align: center;
    margin:5px;
	overflow:hidden;
}
.instaUser a {
	color: #333;
	text-decoration: none;
	font-weight:bold;
}

/* Twitter =============== */
.twitterContainer {
    width: 38.4%;
    height: 100%;
    float: right;
    padding: 10px;
    border-left: 2px solid #d4d4d4;
	display: none;
}
.twitterPost {
    width: 90%;
    padding: 10px 0;
    border-top: 1px solid #999;
    float: left;
}
.twitterPost:last-child {
    border-bottom: 1px solid #999;
}
.twitterPicture {
    float: left;
}
.twitterPicture img {
    width: 50px;
    height:50px;
}
.twitterCont {
    float:left;
    width: 95%;
    margin-left: 5px;
}
.twitterName {
    float:left;
    margin: 0;
}
.twitterUsername {
    float:left;
    margin: 0 0 0 5px;
    color: rgb(153, 153, 153);
}
.tweet {
    float: left;
}
#twitter-widget-0 {
	width:100% !important;
	height:1000px !important;
}
.timeline .stream {
	height:900px !important;
	overflow: visible !important;
}

.timeline-footer {
	display:hidden !important;
}
 
/*====  Media Queries =========================================== */
/* Smartphones  =============== */
@media only screen and (max-width : 320px) {
	.instaContainer {  }
	.instaPost { width:48%; }
	#r-logo { width:0; height:0; }
	#l-logo { width:0; height:0; }
	.header { height:20px; }
	#choosenHash { font-size: 16px; }
}
 
/* iPads (portrait and landscape) =============== */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.instaContainer { width: 768px; }
	.instaPost { width:16%; }
	#r-logo { width:0; height:0; }
	#l-logo { width:0; height:0; }
}
 
/* iPads (landscape) =============== */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.instaContainer { width: 768px; }
	.instaPost { width:19.2%; }
	#r-logo { width:0; height:0; }
	#l-logo { width:0; height:0; }
	.header { height:40px; }
	#choosenHash { font-size: 32px; }
}
 
/* iPads (portrait) =============== */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.instaContainer { width: 768px; }
	.instaPost { width:24.2%; }
	#r-logo { width:0; height:0; }
	#l-logo { width:0; height:0; }
	.header { height:40px; }
	#choosenHash { font-size: 32px; }
}
 
/* Desktops and laptops =============== */
@media only screen and (min-width : 980px) {
	.instaContainer { width: 980px; }
	.instaPost { width:16%; }
}
@media only screen and (min-width : 1200px) {
	.instaContainer { width: 1200px; }
	.instaPost { width:16.1%; }
}
@media only screen and (min-width : 1400px) {
	.instaContainer { width: 1400px; }
	.instaPost { width:16.22%; }
}
@media only screen and (min-width : 1600px) {
	.instaContainer { width: 1600px; margin-left: 5px; }
	.instaPost { width:16%; }
}
@media only screen and (min-width : 1880px) {
	.instaContainer { width: 1880px; }
	.instaPost { width:16.2%; }
}
 
/* iPhone 4 =============== */
@mediaonly screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	.instaContainer {  }
	.instaPost { width:48%; }
	#r-logo { width:0; height:0; }
	#l-logo { width:0; height:0; }
	.header { height:20px; }
	#choosenHash { font-size: 16px; }
}

/*====  Helper classes =========================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*====  Print styles =========================================== */
@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}